<div class="infoWrapper">
  <div class="info">
    <div class="firstWrapper">
      <div class="timezone">
        <p>CURRENT TIMEZONE</p>
        <h2>{{ worldTime.timezone }}</h2>
      </div>
      <div class="dayOfTheYear">
        <p>DAY OF THE YEAR</p>
        <h2>{{ worldTime.day_of_year }}</h2>
      </div>
    </div>
    <div class="secondWrapper">
      <div class="daysWrapper">
        <div class="dayOfTheWeek">
          <p>DAY OF THE WEEK</p>
          <h2>{{ worldTime.day_of_week }}</h2>
        </div>
        <div class="weekNum">
          <p>WEEK NUMBER</p>
          <h2>{{ worldTime.week_number }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
